@model ProBlog.Core.Etities.Post

<div class="post">
    <div class="post-meta">
        <div class="row">
            <!--Title-->
            <div class="post-title">
                <h2>@Model.Title</h2>
            </div>
        </div>
        <div class="row">
            <!--Category-->
            <div class="post-category">
                <span class="label label-success">@Model.Category.Name</span>
            </div>
            <!--Tags-->
            <div class="post-tags">
                Tags: <span class="label label-info"></span>
            </div>
            <!--Posted date-->
            <div class="posted-date">
                @Model.PostedOn.ToShortDateString()
            </div>
        </div>
    </div>
    <!--post-preview-->
    <div class="post-body">
        <img class="img-responsive" alt="post image" src="@Url.Action("GetImage", "Post", new { Model.Id })" />
        <div class="text-justify">
            @Html.Raw(Model.Preview)
        </div>
    </div>
    <!--post-footer-->
    <div class="post-foot">
        @Html.ActionLink("Читать...", "ReadMore", "Post", new {
       year = Model.PostedOn.Year,
       month = Model.PostedOn.Month,
       titlePost = Model.Title,
       id = Model.Id
   }, new { title = "Читать все...",})
    </div>
    <br />
    <hr />
</div>

